@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Create Project</h1>
        <p> <a href="https://localhost:5001/project/createUpdate"> create project</a>.</p>
        <p> <a href="https://localhost:5001/backer">list of projects</a>.</p>
    </div>
