@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Crowfund</h1>
        
        <img src="https://news.wikicasa.it/wp-content/uploads/2015/09/Crowdfunding-Benefits-and-Risks-Quicken-Loans-Zing-Blog.png"
             alt="Girl in a jacket" style="width:400px;height:400px;">



    </div>
